DJANGO_SECRET_KEY=change-this-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DB_ENGINE=django.db.backends.postgresql
DB_NAME=servora_db
DB_USER=servora_user
DB_PASSWORD=change-this-password
DB_HOST=localhost
DB_PORT=5432
